
footer {
    text-align: center;
}

#forecast {
    text-align: center;
}

.jumbotron {
    text-align: center;
    border-bottom: 3px lightslategray double;
}

#main-display {
    border-bottom: 3px lightslategray double;
    border-left: 3px lightslategray double;
}

#search-history {
    margin-top: 5px;
    margin-bottom: 5px;
    border-top: 3px lightslategray double;
    padding: 3px;

}